#logo5 {
	width: 400px;
	height: 123px;
}

body {
	color: lightgreen;
}

h1 {
	color: orange;
	margin-left: 20px;
}

h2 {
	color: maroon;
}

footer {
	color: black;
	font-size: 10px;
	margin-top: 50px;
	margin-left: 50%;
}

ul {
	list-style-type: circle;
}

#main2 {
	color: red;
}

.header3 {
	color: gray;
}

table, th, td {
	border: 1px solid black;
}

mark {
	background-color: red;
}